/**
 * @file
 * Compiler-free barefoot CSS.
 */

/*
Just to see that it works.
*/
body::before {
  content: "This part is coming from `static.css`.";

  display: block;
  padding: 0.75em;

  background: gold;
}
