/**
 * @file
 * Box component styles.
 */

.box {
  padding: $gap-default;

  &:not(.has-bg) {
    background: color(blockfill);
  }
}
.box__title {
  @include box-title-appearance;

  margin-bottom: $gap-default;
}
.box__content {
  @include fit-content;
  @include line-height-fit($line-height-default, bottom);

  // If there is no box title.
  &:first-child {
    @include line-height-fit($line-height-default, top);
  }
}


// #############################################################################
// Boxes at specific locations.

.column {
  .box + .box {
    @include vertical-gap(margin, top, 0.33);
  }
}

.column--sidebar {
  .box__content {
    font-size: 0.9em;
  }
}

