/**
 * @file
 * Box component styles.
 */

.box {
  background: color(blockfill);
  padding: $gap-default;
}
.box__title {
  @include box-title-appearance;

  margin-bottom: $gap-default;
}
.box__content {
  @include fit-content;
  @include line-height-fit($line-height-default, bottom);

  // If there is no box title.
  &:first-child {
    @include line-height-fit($line-height-default, top);
  }
}


// #############################################################################
// Boxes at specific locations.

.column {
  .box + .box {
    @include vertical-gap(margin, top, 0.5);
  }
}

.column--sidebar {
  .box {
    line-height: $line-height-condensed;
  }
  .box__content {
    @include line-height-fit($line-height-condensed, bottom);

    // If there is no box title.
    &:first-child {
      @include line-height-fit($line-height-condensed, top);
    }
  }
}

