
$ul-icon-prefix-icon-size: 24px;

.ul--icon-prefix {
  @include bare-list;

  & > li {
    position: relative;

    padding-left: calc(#{$ul-icon-prefix-icon-size} + 0.65em);

    line-height: $line-height-condensed;

    & + li {
      margin-top: 0.65em;
    }
  }
}

.ul--icon-prefix__icon {
  position: absolute;
  left: 0;
  top: 0.02em;

  height: $ul-icon-prefix-icon-size;
  width: $ul-icon-prefix-icon-size;

  fill: color(brand);

  ul.icons--green & {
    fill: green;
  }
}
