
$ul-icon-prefix-icon-size: $line-height-condensed * 1em;

.ul--icon-prefix {
  @include bare-list;

  & > li {
    position: relative;

    padding-left: $ul-icon-prefix-icon-size + 0.8em;

    line-height: $line-height-condensed;

    & + li {
      margin-top: 0.75em;
    }
  }
}

.ul--icon-prefix__icon {
  position: absolute;
  left: 0;
  top: 0.05em;

  height: $ul-icon-prefix-icon-size;
  width: $ul-icon-prefix-icon-size;

  fill: color(brand);
}
