
// Extract variable from map, so that we can use it in calc().
$oneliner-height: map-get($form-widget-oneliner-height, default);
$btn-shdw-size:   $oneliner-height * 0.5;

.button {
  @include strip-button();
  @include widget-vertical-padding-to-match-oneliners(
      $oneliner-height,
      $line-height-condensed
  );

  display: inline-block;
  padding-left: $form-widget-side-padding;
  padding-right: $form-widget-side-padding;

  border: 1px solid transparent;
  border-radius: $form-widget-border-radius;

  font-family: $font-sans;
  font-weight: 700;
  line-height: $line-height-condensed;
  min-height: $oneliner-height;

  text-align: center;
  vertical-align: top;

  transition:
    background-color $transition-speed-fast, $transition-easing-default,
    box-shadow $transition-speed-fast, $transition-easing-default;

  cursor: pointer;
  user-select: none;

  box-shadow: button-inset-box-shadows(),
  0 0 3px -1px white,
  0 5px 7px -3px color(shadow);

  &:not(:disabled):hover,
  &:focus {
    box-shadow: button-inset-box-shadows(),
    0 0 3px -1px white,
    0 8px 8px -3px color(shadow);
  }
}

.button__text {
  position: relative;
  top: -0.025em;
}


// #############################################################################
// "Shape" variants.

// -----------------------------------------------------------------------------
// "Button oneliner" is a button that's matching "oneliner inputs".

.button--oneliner {
  height: $oneliner-height;

  // Note: buttons do need the line-height-hack.
  // (Also need to distract the border-width for better vertical alignment.
  line-height: calc(#{$oneliner-height} - 2px);

  padding-top: 0;
  padding-bottom: 0;

  max-width: 100%;
  white-space: nowrap;
}

// -----------------------------------------------------------------------------
// Wide.

.button--fullwidth {
  width: 100%;
}

// -----------------------------------------------------------------------------
// With icon.
// Buttons with icons match the height of oneliners, but can tolerate if their
// texts break onto multiple lines: the flexbox setup adapts to the change.

$button-icon-size-default: 1.35em;

.button--icon-prefix,
.button--icon-suffix {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;

  padding: 0;

  .button__icon-nest {
    flex: 1 1 auto;

    // When the button text breaks onto multiple lines, this makes the icon-nest
    // follow the height-change.
    align-self: stretch;

    display: flex;
    align-items: center;
    align-content: center;

    // This is the the single source of truth about this button's height.
    min-height: calc(#{$oneliner-height} - 2px);

    padding: 0 $form-widget-side-padding * 0.75;

    background: rgba(white, 0.15);

    @if $form-widget-border-radius > (0) {
      border-top-left-radius: $form-widget-border-radius - 1px;
      border-bottom-left-radius: $form-widget-border-radius - 1px;
    }
  }

  .button__icon {
    flex: 1 1 auto;
    width: $button-icon-size-default;
    height: $button-icon-size-default;
  }

  .button__text {
    flex: 0 1 auto;

    @include widget-vertical-padding-to-match-oneliners(
        $oneliner-height,
        $line-height-condensed
    );

    padding-left: $form-widget-side-padding;
    padding-right: $form-widget-side-padding;
  }
}

.button--icon-suffix {
  .button__text {
    order: 1;
  }
  .button__icon-nest {
    order: 2;

    @if $form-widget-border-radius > (0) {
      border-radius: 0;
      border-top-right-radius: $form-widget-border-radius - 1px;
      border-bottom-right-radius: $form-widget-border-radius - 1px;
    }
  }
}


// #############################################################################
// Button size variants.

// -----------------------------------------------------------------------------
// Small.

$oneliner-height-small:  map-get($form-widget-oneliner-height, smallforms);
$button-icon-size-small: 1.2em;

.button.button--size-small {
  @include widget-vertical-padding-to-match-oneliners(
    $oneliner-height-small,
    $line-height-condensed
  );

  min-height: $oneliner-height-small;

  font-size: map-get($form-font-size, smallforms);
}

.form--small .button,
form .button.button--size-small {
  &.button--icon-prefix,
  &.button--icon-suffix
  {
    min-height: 0;
    padding: 0;

    .button__icon-nest {
      min-height: calc(#{$oneliner-height-small} - 2px);
    }
    .button__text {
      @include widget-vertical-padding-to-match-oneliners(
        $oneliner-height-small,
        $line-height-condensed
      );
    }
  }
  .button__icon {
    height: $button-icon-size-small;
    width: $button-icon-size-small;
  }
}

// -----------------------------------------------------------------------------
// Default.

$oneliner-height-default:  map-get($form-widget-oneliner-height, default);
$button-icon-size-default: 1.35em;

.button.button--size-default {
  @include widget-vertical-padding-to-match-oneliners(
    $oneliner-height-default,
    $line-height-condensed
  );

  min-height: $oneliner-height-default;

  font-size: map-get($form-font-size, default);
}

form .button.button--size-default {
  &.button--icon-prefix,
  &.button--icon-suffix
  {
    min-height: 0;
    padding: 0;

    .button__icon-nest {
      min-height: calc(#{$oneliner-height-default} - 2px);
    }
    .button__text {
      @include widget-vertical-padding-to-match-oneliners(
          $oneliner-height-default,
          $line-height-condensed
      );
    }
    .button__icon {
      height: $button-icon-size-default;
      width: $button-icon-size-default;
    }
  }
}


// -----------------------------------------------------------------------------
// Big.

$oneliner-height-big:  map-get($form-widget-oneliner-height, bigforms);
$button-icon-size-big: 1.5em;

.button.button--size-big {
  @include widget-vertical-padding-to-match-oneliners(
    $oneliner-height-big,
    $line-height-condensed
  );

  min-height: $oneliner-height-big;

  font-size: map-get($form-font-size, bigforms);
}

.form--big .button,
form .button.button--size-big {
  &.button--icon-prefix,
  &.button--icon-suffix
  {
    min-height: 0;
    padding: 0;

    .button__icon-nest {
      min-height: calc(#{$oneliner-height-big} - 2px);
    }
    .button__text {
      @include widget-vertical-padding-to-match-oneliners(
          $oneliner-height-big,
          $line-height-condensed
      );
    }
  }
  .button__icon {
    height: $button-icon-size-big;
    width: $button-icon-size-big;
  }
}


// #############################################################################
// Button color variants.

@each $name, $data in $button-colors {
  .button--#{$name} {
    background-color:     map-get($data, background-color);
    text-shadow:          0 1px 3px map-get($data, text-shadow-color);

    &,
    &:hover,
    &:visited,
    &:visited:hover
    {
      color:              map-get($data, color);
    }

    &:hover,
    &:focus {
      background-color:   map-get($data, background-color-hover);
      color:              map-get($data, color);
    }
    &:focus {
      outline: none;
    }

    &:disabled,
    &:disabled:hover {
      background-color:   map-get($data, background-color-disabled);
      color:              map-get($data, color-disabled);
      text-shadow: none;
      cursor: auto;
    }
  }
}
