
$input-size: map-get($enhanced-choice-input-size, default);

.enhanced-choice {
  position: relative;
  padding-left: $input-size * 1.5;

  .input-nest {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    height: $input-size;
    width: $input-size;

    input {
      position: absolute;
      top: 0;
      left: 0;

      opacity: 0;
    }
  }

  .pseudo-input {
    position: absolute;
    top: 0;
    left: 0;

    height: $input-size;
    width: $input-size;

    cursor: pointer;

    @include input-look-and-feel();

    svg {
      content: '';

      display: block; // IE11 needs this declared.

      fill: transparent;
      transition: fill $transition-speed-fast $transition-easing-default;
    }
  }

  .label-text {
    display: inline-block;
    font-size: 0.9em;
    line-height: $line-height-condensed;
    vertical-align: top;
  }

  // Specifics of checkbox vs radio.

  [type="checkbox"] + .pseudo-input {
    border-radius: $form-widget-border-radius;

    svg {
      height: 90%;
      width: 90%;
      transform: translate(5%, 5%);
    }
  }

  [type="radio"] + .pseudo-input {
    border-radius: 100%;

    svg {
      height: 50%;
      width: 50%;
      transform: translate(50%, 50%);
    }
  }
}


// #############################################################################
// Arrangement variants.

.enhanced-choice--inline {
  display: inline-block;
  margin-right: $input-size;
}

.enhanced-choice--stacked {
  display: block;

  & + .enhanced-choice--stacked {
    margin-top: 0.75em;
  }
}


// #############################################################################
// States.

.enhanced-choice {

  // Focus.

  input:focus + .pseudo-input {
    @include input-look-and-feel-focus();
  }

  // Checked.

  input:checked + .pseudo-input {
    svg {
      fill: color(prim);
    }
  }

  // Disabled.

  input:disabled + .pseudo-input {
    @include input-look-and-feel-disabled();

    cursor: default;
  }

  input:disabled:checked + .pseudo-input {
    svg {
      fill: darkgray;
    }
  }

  // Has error.

  input.has-error + .pseudo-input {
    @include input-look-and-feel-has-error();
  }

  input.has-error:checked + .pseudo-input {
    svg {
      fill: color(alert);
    }
  }

  input.has-error:focus + .pseudo-input {
    @include input-look-and-feel-has-error-focus();
  }
}


// #############################################################################
// Size variants.

// NOTE: so far, size variants are implemented only when the widget inherits
// the size from its parent form.
// Direct control of the widget size (by adding a class) is not implemented.

// -----------------------------------------------------------------------------
// Small.

$choice-input-size-small: map-get($enhanced-choice-input-size, small);

.form--small {
  .enhanced-choice {
    padding-left: $choice-input-size-small * 1.5;

    .pseudo-input {
      height: $choice-input-size-small;
      width: $choice-input-size-small;
    }

    .label-text {
      font-size: 1em;
    }
  }

  .enhanced-choice--inline {
    margin-right: $choice-input-size-small;
  }
}

// -----------------------------------------------------------------------------
// Big.

$choice-input-size-big: map-get($enhanced-choice-input-size, big);

.form--big {
  .enhanced-choice {
    padding-left: $choice-input-size-big * 1.5;

    .pseudo-input {
      height: $choice-input-size-big;
      width: $choice-input-size-big;
    }
  }

  .enhanced-choice--inline {
    margin-right: $choice-input-size-big;
  }
}
