
.label--above,
.widget-container.with-blank-label::before {
  @include form-above-widget-label-appearance();
}

fieldset {
  @include vari-gap('padding', 'all');
}

.widget-container__helptext,
.widget-container__errortext {
  @include fit-content();
  @include description-appearance(
    $color: map-get($form-colors-default, helptext-color),
    $shrink: true
  );

  margin-top: 0.5em;
}

.widget-container__errortext {
  margin-top: 0.65em;

  color: map-get($form-colors-default, errortext-color);

  & + .widget-container__helptext {
    margin-top: 0.4em;
  }
}

.widget-container {
  .button + .button {
    margin-left: 0.5em;
  }
}

.widget-container:not(:first-child),
fieldset:not(:first-child) {
  margin-top: map-get($form-items-vertical-gap, default);
}


// -----------------------------------------------------------------------------
// Horizontally arranged fields, when the screen is large enough.

@media (min-width: breakpoint($form-arrangement-layout-update-bkp)) {
  .form-arrangement {
    @include flex-grid($wrap: true, $item-classname: widget-container);

    margin-top: map-get($form-items-vertical-gap, default) * -1;

    .widget-container {
      margin-top: map-get($form-items-vertical-gap, default);

      // Make .widget-container default to 50% even without corresponding class.
      width: 50%;
    }
  }

  .widget-container.width--full {
    width: 100%;

    .input--oneliner,
    textarea
    {
      max-width: none;
    }
  }

  .widget-container.width--two-thirds {
    width: 66.66666%;
  }

  .widget-container.width--half {
    width: 50%;
  }

  .widget-container.width--third {
    width: 33.33333%;
  }


  .widget-container.with-blank-label::before {
    content: '\00a0';
    width: 1em;
  }
}
