/**
 * @file
 * Forms.
 */

form {
  font-size: map-get($form-font-size, default);
}


// #############################################################################
// Labels.

.label {
  color: map-get($form-colors-default, label-color);

  font-family: $font-sans;

  user-select: none;
}


// #############################################################################
// Widgets.

// Extract variable from map, so that we can use it in calc().
$oneliner-height: map-get($form-widget-oneliner-height, default);

.input--oneliner,
textarea
{
  padding-left: $form-widget-side-padding;
  padding-right: $form-widget-side-padding;

  display: block;
  width: 100%;
  max-width: map-get($form-input-max-width, default);

  @include input-look-and-feel();

  &:focus {
    @include input-look-and-feel-focus();
  }
}

.input--oneliner {
  // Note: inputs don't need any line-height declaration.
  height: $oneliner-height;

  padding-top: 0;
  padding-bottom: 0;

  white-space: nowrap;
}

textarea {
  @include widget-vertical-padding-to-match-oneliners(
    $oneliner-height,
    $line-height-condensed
  );

  line-height: $line-height-condensed;

  min-height: $oneliner-height * 2.15;
}


// #############################################################################
// Non-default states.

// -----------------------------------------------------------------------------
// Disabled.

.input--oneliner:disabled,
textarea:disabled
{
  @include input-look-and-feel-disabled();
}

// -----------------------------------------------------------------------------
// Readonly.

.input--oneliner[readonly],
textarea[readonly]
{
  @include input-look-and-feel-readonly();
}

// -----------------------------------------------------------------------------
// Error.

.input--oneliner.has-error,
textarea.has-error
{
  @include input-look-and-feel-has-error();

  &:focus {
    @include input-look-and-feel-has-error-focus();
  }
}
