/**
 * @file
 * Forms.
 */

form {
  font-size: map-get($form-font-size, default);
}


// #############################################################################
// Labels.

label {
  color: map-get($form-colors-default, label-color);

  font-family: $font-sans;

  user-select: none;
}


// #############################################################################
// Widgets.

// Extract variable from map, so that we can use it in calc().
$oneliner-height: map-get($form-widget-oneliner-height, default);

.input--oneliner,
textarea
{
  padding-left: $form-widget-side-padding;
  padding-right: $form-widget-side-padding;

  display: block;
  width: 100%;
  max-width: map-get($form-input-max-width, default);

  background: map-get($form-colors-default, background-color);

  border: 1px solid map-get($form-colors-default, border-color);
  border-radius: $form-widget-border-radius;

  $inset-box-shadow: input-inset-box-shadow(
    map-get(
      $form-colors-default,
      inset-box-shadow-color
    )
  );
  box-shadow: $inset-box-shadow;

  color: map-get($form-colors-default, value-color);

  font-family: $font-sans;
  font-weight: 400;
  font-style: normal;

  transition: all $transition-speed-fast $transition-easing-default;

  &:focus {
    border-color: map-get($form-colors-default, border-color-focus);

    $focus-box-shadow: input-focus-box-shadow(
      map-get(
        $form-colors-default,
        focus-box-shadow-color
      )
    );
    box-shadow: $inset-box-shadow, $focus-box-shadow;

    outline: none;
  }
}

.input--oneliner {
  // Note: inputs don't need any line-height declaration.
  height: $oneliner-height;

  padding-top: 0;
  padding-bottom: 0;

  white-space: nowrap;
}

textarea {
  @include widget-vertical-padding-to-match-oneliners(
    $oneliner-height,
    $line-height-condensed
  );

  line-height: $line-height-condensed;

  min-height: $oneliner-height * 2.15;
}


// #############################################################################
// Non-default states.

// -----------------------------------------------------------------------------
// Disabled.

.input--oneliner:disabled,
textarea:disabled
{
  background: map-get($form-colors-default, background-color-disabled);
  border-color: map-get($form-colors-default, border-color-disabled);
  box-shadow: rgba(color(shadow), 0.1) 0 0 0.5em inset;
}

// -----------------------------------------------------------------------------
// Readonly.

.input--oneliner[readonly],
textarea[readonly]
{
  box-shadow: none;

  &:focus {
    $focus-box-shadow: input-focus-box-shadow(
      map-get(
        $form-colors-default,
        focus-box-shadow-color
      )
    );
    box-shadow: $focus-box-shadow;
  }
}

// -----------------------------------------------------------------------------
// Error.

.input--oneliner.has-error,
textarea.has-error
{
  background-color: map-get($form-colors-default, background-color-error);
  border-color: map-get($form-colors-default, border-color-error);

  $inset-box-shadow: input-inset-box-shadow(
    map-get(
      $form-colors-default,
      inset-box-shadow-color-error
    )
  );
  box-shadow: $inset-box-shadow;

  &:focus {
    border-color: map-get($form-colors-default, border-color-focus-error);

    $focus-box-shadow: input-focus-box-shadow(
      map-get(
        $form-colors-default,
        focus-box-shadow-color-error
      )
    );
    box-shadow: $inset-box-shadow, $focus-box-shadow;

    outline: none;
  }
}
