/**
 * @file
 * Forms.
 */

form {
  font-size: map-get($form-font-size, default);
}


// #############################################################################
// Labels.

label {
  user-select: none;
}


// #############################################################################
// Widgets and buttons.

// Extract variable from map, so that we can use it in calc().
$oneliner-height: map-get($form-widget-oneliner-height, default);


// -----------------------------------------------------------------------------
// Basic widgets foundation.

.input--oneliner,
textarea
{
  padding-left: $form-widget-side-padding;
  padding-right: $form-widget-side-padding;

  display: block;
  width: 100%;
  max-width: map-get($form-input-max-width, default);

  background: map-get($form-colors-default, background-color);

  border: 1px solid map-get($form-colors-default, border-color);
  border-radius: $form-widget-border-radius;

  $inset-box-shadow: input-inset-box-shadow(
    map-get(
      $form-colors-default,
      inset-box-shadow-color
    )
  );
  box-shadow: $inset-box-shadow;

  color: map-get($form-colors-default, value-color);

  font-family: $font-sans;
  font-weight: 400;
  font-style: normal;

  transition: all $transition-speed-fast $transition-easing-default;

  &:focus {
    border-color: map-get($form-colors-default, border-color-focus);

    $focus-box-shadow: input-focus-box-shadow(
      map-get(
        $form-colors-default,
        focus-box-shadow-color
      )
    );
    box-shadow: $inset-box-shadow, $focus-box-shadow;

    outline: none;
  }
}

.input--oneliner {
  // Note: inputs don't need any line-height declaration.
  height: $oneliner-height;

  padding-top: 0;
  padding-bottom: 0;

  white-space: nowrap;
}

textarea {
  @include widget-vertical-padding-to-match-oneliners(
    $oneliner-height,
    $line-height-condensed
  );

  line-height: $line-height-condensed;

  min-height: $oneliner-height * 2.15;
}

// -----------------------------------------------------------------------------
// Buttons foundation.

$btn-shdw-size: $oneliner-height * 0.5;

.button {
  @include strip-button();
  @include widget-vertical-padding-to-match-oneliners(
    $oneliner-height,
    $line-height-condensed
  );

  display: inline-block;
  padding-left: $form-widget-side-padding;
  padding-right: $form-widget-side-padding;

  border: 1px solid transparent;
  border-radius: $form-widget-border-radius;

  font-family: $font-sans;
  font-weight: 700;
  line-height: $line-height-condensed;
  min-height: $oneliner-height;

  text-align: center;
  vertical-align: top;

  transition: background-color $transition-speed-fast, $transition-easing-default,
              box-shadow $transition-speed-fast, $transition-easing-default;

  cursor: pointer;
  user-select: none;


  box-shadow: button-inset-box-shadows(),
              0 0 3px -1px white,
              0 5px 7px -3px color(shadow);

  &:not(:disabled):hover,
  &:focus {
    box-shadow: button-inset-box-shadows(),
                0 0 3px -1px white,
                0 8px 8px -3px color(shadow);
  }
}

// "Button oneliner" is a button that's matching "oneliner inputs".
.button--oneliner {
  height: $oneliner-height;

  // Note: buttons do need the line-height-hack.
  // (Also need to distract the border-width for better vertical alignment.
  line-height: calc(#{$oneliner-height} - 2px);

  padding-top: 0;
  padding-bottom: 0;

  max-width: 100%;
  white-space: nowrap;

  .button__text {
    display: inline-block;
    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// -----------------------------------------------------------------------------
// Button color variants.

@each $name, $data in $button-colors {
  .button--#{$name} {
    background-color:     map-get($data, background-color);
    text-shadow:          0 1px 3px map-get($data, text-shadow-color);

    &,
    &:hover,
    &:visited,
    &:visited:hover
    {
      color:              map-get($data, color);
    }

    &:hover,
    &:focus {
      background-color:   map-get($data, background-color-hover);
      color:              map-get($data, color);
    }
    &:focus {
      outline: none;
    }

    &:disabled,
    &:disabled:hover {
      background-color:   map-get($data, background-color-disabled);
      color:              map-get($data, color-disabled);
      text-shadow: none;
      cursor: auto;
    }
  }
}


// #############################################################################
// Non-default states.

// -----------------------------------------------------------------------------
// Disabled.

.input--oneliner:disabled,
textarea:disabled
{
  background: map-get($form-colors-default, background-color-disabled);
  border-color: map-get($form-colors-default, border-color-disabled);
  box-shadow: rgba(color(shadow), 0.1) 0 0 0.5em inset;
}

// -----------------------------------------------------------------------------
// Readonly.

.input--oneliner[readonly],
textarea[readonly]
{
  box-shadow: none;

  &:focus {
    $focus-box-shadow: input-focus-box-shadow(
      map-get(
        $form-colors-default,
        focus-box-shadow-color
      )
    );
    box-shadow: $focus-box-shadow;
  }
}

// -----------------------------------------------------------------------------
// Error.

.input--oneliner.has-error,
textarea.has-error
{
  background-color: map-get($form-colors-default, background-color-error);
  border-color: map-get($form-colors-default, border-color-error);

  $inset-box-shadow: input-inset-box-shadow(
    map-get(
      $form-colors-default,
      inset-box-shadow-color-error
    )
  );
  box-shadow: $inset-box-shadow;

  &:focus {
    border-color: map-get($form-colors-default, border-color-focus-error);

    $focus-box-shadow: input-focus-box-shadow(
      map-get(
        $form-colors-default,
        focus-box-shadow-color-error
      )
    );
    box-shadow: $inset-box-shadow, $focus-box-shadow;

    outline: none;
  }
}
