
.layout-1-sidebar {

  .layout__element {
    @include fit-content();
  }
  .layout__sidebar {
    @include gap(margin, top, $stack-gap-factor-major);
  }

  // ---------------------------------------------------------------------------
  // As the screen grows, time for side-by-side arrangement.

  @media (min-width: breakpoint(wide-min)) {
    @include flex-grid($wrap: true, $item-classname: layout__element);

    .layout__element {
      flex: 0 0 auto;
    }

    .layout__sidebar {
      margin-top: 0;
    }

    // The default state assumes that we don't actually have a sidebar.
    .layout__main {
      width: 100%;
    }

    // But if there is a sidebar, then:
    &.has-sidebar {
      .layout__main {
        @include apply-grid-item-width($item-width: 15, $of-total-cols: 24);
      }
      .layout__sidebar {
        @include apply-grid-item-width($item-width: 8, $of-total-cols: 24);
      }
    }

    // -------------------------------------------------------------------------
    // Sidebar on the right side.

    &.sidebar-on-right {
      .layout__sidebar {
        margin-left: auto;
      }
    }

    // -------------------------------------------------------------------------
    // Sidebar on the left side.

    &.sidebar-on-left {
      .layout__main {
        order: 2;

        // Sending it to the opposite side, thus using all the remaining
        // available width to contribute to the gap between the elements.
        margin-left: auto;
      }
      .layout__sidebar {
        order: 1;
      }
    }
  }

  // ---------------------------------------------------------------------------
  // Shift the proportions of the elements to better suit even wider screens.

  @media (min-width: breakpoint(wide-mt-min)) {
    &.has-sidebar {
      .layout__main {
        @include apply-grid-item-width($item-width: 16, $of-total-cols: 24);
      }
      .layout__sidebar {
        @include apply-grid-item-width($item-width: 7, $of-total-cols: 24);
      }
    }
  }
}


// #############################################################################
// Sidebar box arrangement.

.sidebar-box-arrangement {
  // Mostly one col.
  @include grid-wrapping-for-cols(1, $item-classname: box-guide);

  // But for a specific width-range (e.g. "phablets"): side-by-side arrangement.
  @media (min-width: breakpoint(narrow-ht-min)) and (max-width: breakpoint(narrow-max)) {
    @include flex-grid($wrap: true, $item-classname: box-guide);
    @include grid-wrapping-for-cols(2, $item-classname: box-guide);

    & > .box-guide {
      @include apply-grid-item-width(1, 2);

      flex: 1 1 auto;
    }
  }
}
