/**
 * @file
 * Layouts shared styling.
 *
 * Either global rules for several layouts, or styles for such layouts that
 * did not get a separate file.
 */


// #############################################################################
// Layout-fitting.

.fit-content,
.container {
  @include fit-content;

  & > h2:first-child,
  & > .h2:first-child {
    @include line-height-fit($line-height-headings, top);
  }
}


// #############################################################################
// Page levels and page centering.
// (Horizontal sections - often seen as full-width colourful stripes - on the
// page.)

.page__level {
  @each $breakpoint, $gutter in $grid-column-gutter {
    $padding: $gutter / 2;

    @include breakpoint($breakpoint) {
      padding-left: $padding;
      padding-right: $padding;
    }
  }

  @include vertical-gap(padding, both, 1);
}

.container {
  min-width: $page-min-width;
  max-width: $page-max-width;

  margin-left: auto;
  margin-right: auto;
}

