/**

Page levels and page centering.

Horizontal sections - often seen as full-width colourful stripes - on the page.

*/

.page-level {
  @include gap(padding, horizontal, 1);

  min-width: $page-min-width;

  &.has-bg {
    @include gap(padding, vertical, $gap-factor-for-page-levels);
  }
}

.page-level__content {
  @include fit-content();
  @include gap(margin, vertical, $gap-factor-for-page-levels);

  max-width: $page-max-width;

  margin-left: auto;
  margin-right: auto;

  .has-bg & {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.page-level__title {
  @include page-level-title-appearance();
}
