
// -----------------------------------------------------------------------------
// Grid root element.

@mixin cheap-grid($wrap: false) {
  @include gap(margin, horizontal, -0.5);

  display: flex;
  flex-direction: row;
  align-items: stretch;

  @if $wrap == (true) {
    flex-wrap: wrap;
  }
  @else {
    flex-wrap: nowrap;
  }
}


// -----------------------------------------------------------------------------
// Grid item.

@mixin cheap-grid-item() {
  @include gap(padding, horizontal, 0.5);

  flex: 0 1 auto; // As a flex child.
  display: flex;  // As a flex parent.
  align-items: stretch;
}


// -----------------------------------------------------------------------------
// Grid item width.

@mixin grid-item-width($item-width, $of-total-cols: $grid-default-column-count) {
  width: 100 / $of-total-cols * $item-width * 1%;
}


// -----------------------------------------------------------------------------
// Wrapping helper.

// Apply on grid root element.
@mixin grid-wrapping-for-cols($n, $item_classname: cheap-grid__item) {
  &:not(.grid-collapsing) > .#{$item_classname} {
    @include gap(margin, top, 1);

    // See http://nth-test.com/
    &:nth-child(-n+#{$n}) {
      margin-top: 0;
    }
  }
}
