
// -----------------------------------------------------------------------------
// Content titles.

@mixin page-title-appearance() {
  @include headings-base;
  @include heading-aftereffects(h1);

  @include gap(margin, bottom, 3);

  margin-top: 0;
}

@mixin page-level-title-appearance() {
  @include headings-base;
  @include heading-aftereffects(h2);

  margin-top: 0;
}

// -----------------------------------------------------------------------------
// Misc patterns.

@mixin description-appearance {
  font-size: 0.9rem;
  font-style: italic;

  p {
    line-height: $line-height-condensed;
    margin: 0.5em 0;
  }
}
