
// -----------------------------------------------------------------------------
// Content titles.

@mixin page-title-appearance() {
  @include headings-base;
  @include heading-aftereffects(h1);

  @include gap(margin, bottom, $stack-gap-factor-major);

  margin-top: 0;
}

@mixin page-level-title-appearance() {
  @include headings-base;
  @include heading-aftereffects(h2);

  margin-top: 0;
}

// -----------------------------------------------------------------------------
// Misc patterns.

@mixin description-appearance($color: color(text-faded), $shrink: true) {
  @if $shrink == (true) {
    font-size: 0.9em;
  }

  font-style: italic;

  &,
  & strong {
    color: $color;
  }

  p,
  ul,
  ol {
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    line-height: $line-height-condensed;
  }
  em {
    // To make it stand out in an all-italic text.
    font-style: normal;
  }
}

@mixin common-text-block-structure() {
  @include fit-content();

  margin-top: 1em;
  margin-bottom: 1em;

  padding: 1em;
}

$text-block-icon-size: 2em;
$text-block-icon-offset: (4 - ($line-height-default * 2)) * 1em;

@mixin common-text-block-structure-with-icon() {
  position: relative;

  padding-left: $text-block-icon-size + ($text-block-icon-offset * 2);

  .svg-icon {
    position: absolute;
    top: $text-block-icon-offset;
    left: $text-block-icon-offset;

    height: $text-block-icon-size;
    width: $text-block-icon-size;
  }
}
