
@mixin cheap-grid($wrap: false) {
  @include gap(margin, horizontal, -0.5);

  display: flex;
  flex-direction: row;
  align-items: stretch;

  @if $wrap == (true) {
    flex-wrap: wrap;
  }
  @else {
    flex-wrap: nowrap;
  }
}

@mixin cheap-grid-item() {
  @include gap(padding, horizontal, 0.5);

  flex: 0 1 auto; // As a flex child.
  display: flex;  // As a flex parent.
  align-items: stretch;
}


// #############################################################################
// Width helpers.

@mixin width-full() {
  width: 100%;
}

@mixin width-three-quarters() {
  width: 75%;
}

@mixin width-two-thirds() {
  width: 66.6666%;
}

@mixin width-half() {
  width: 50%;
}

@mixin width-third() {
  width: 33.3333%;
}

@mixin width-quarter() {
  width: 25%;
}


// #############################################################################
// Wrapping helpers.

// Apply on grid root element.
@mixin grid-wrapping-for-cols($n) {
  &:not(.cheap-grid--collapsed) > .cheap-grid__item {
    @include gap(margin, top, 1);

    // See http://nth-test.com/
    &:nth-child(-n+#{$n}) {
      margin-top: 0;
    }
  }
}
