

@mixin widget-vertical-padding-to-match-oneliners($widget-height, $line-height) {
  padding-top: calc(((#{$widget-height} - (#{$line-height} * 1em)) / 2) - 1px);
  padding-bottom: calc(((#{$widget-height} - (#{$line-height} * 1em)) / 2) - 1px);
}


@function button-inset-box-shadows() {
  // These inset shadows add a vertical linear-gradient-like color shift,
  // but with the added benefit that the bg-color remains transitionable.
  @return (
    0 $btn-shdw-size $btn-shdw-size $btn-shdw-size * -1 rgba(white, 0.66) inset,
    0 $btn-shdw-size * -1 $btn-shdw-size $btn-shdw-size * -1 rgba(black, 0.25) inset
  );
}


@function input-inset-box-shadow($color) {
  @return (0 0 0.5em $color inset);
}

@function input-focus-box-shadow($color) {
  @return (0 0 0 $form-widget-focus-outline-width $color);
}


@mixin form-size-variant-updates($size-variant) {

  // Extract variable from map, so that we can use it in calc().
  $oneliner-height: map-get($form-widget-oneliner-height, $size-variant);

  font-size: map-get($form-font-size, $size-variant);

  .input--oneliner,
  textarea
  {
    max-width: map-get($form-input-max-width, $size-variant);
  }
  .input--oneliner,
  .button--oneliner {
    height: $oneliner-height;
  }
  .button {
    min-height: $oneliner-height;
  }
  textarea,
  .button {
    @include widget-vertical-padding-to-match-oneliners(
        $oneliner-height,
        $line-height-condensed
    );
  }
  .button--oneliner {
    line-height: calc(#{$oneliner-height} - 2px);

    padding-top: 0;
    padding-bottom: 0;
  }
  .widget-container:not(:first-child),
  fieldset:not(:first-child) {
    margin-top: map-get($form-items-vertical-gap, $size-variant);
  }

  @media (min-width: breakpoint($form-arrangement-layout-update-bkp)) {
    .form-arrangement {
      margin-top: map-get($form-items-vertical-gap, $size-variant) * -1;

      .widget-container {
        margin-top: map-get($form-items-vertical-gap, $size-variant);
      }
    }
  }
}


@mixin form-widgets-in-color-zone($color-zone) {
  $color-defs: map-get($form-colors-in-color-zones, $color-zone);

  .color-zone--#{$color-zone} {
    .input--oneliner,
    textarea {

      @if map-has-key($color-defs, background-color) {
        background-color: map-get($color-defs, background-color);
      }
      @if map-has-key($color-defs, value-color) {
        color: map-get($color-defs, value-color);
      }
      @if map-has-key($color-defs, border-color) {
        border-color: map-get($color-defs, border-color);
      }
      @if map-has-key($color-defs, inset-box-shadow-color) {
        $initial-inset-box-shadow: input-inset-box-shadow(
          map-get(
            $color-defs,
            inset-box-shadow-color
          )
        );
        box-shadow: $initial-inset-box-shadow;

        // @techdebt: focus box shadow override will work only if inset was
        // overridden too...
        // Reason: we need to rely on $initial-inset-box-shadow in this
        // declaration...
        @if map-has-key($color-defs, focus-box-shadow-color) {
          &:focus {
            $initial-focus-box-shadow: input-focus-box-shadow(
              map-get(
                $color-defs,
                focus-box-shadow-color
              )
            );
            box-shadow: $initial-inset-box-shadow, $initial-focus-box-shadow;
          }
        }
      }

      &:focus {
        @if map-has-key($color-defs, border-color-focus) {
          border-color: map-get($color-defs, border-color-focus);
        }
      }

      &.has-error {
        @if map-has-key($color-defs, background-color-error) {
          background-color: map-get($color-defs, background-color-error);
        }
        @if map-has-key($color-defs, border-color-error) {
          border-color: map-get($color-defs, border-color-error);
        }
        @if map-has-key($color-defs, border-color-focus-error) {
          &:focus {
            border-color: map-get($color-defs, border-color-focus-error);
          }
        }

        @if map-has-key($color-defs, inset-box-shadow-color-error) {
          $error-inset-box-shadow: input-inset-box-shadow(
            map-get(
              $color-defs,
              inset-box-shadow-color-error
            )
          );
          box-shadow: $error-inset-box-shadow;

          &:focus {
            $error-focus-box-shadow: input-focus-box-shadow(
              map-get(
                $color-defs,
                focus-box-shadow-color-error
              )
            );
            box-shadow: $error-inset-box-shadow, $error-focus-box-shadow;
          }

        }
      }

      &:disabled {
        @if map-has-key($color-defs, background-color-disabled) {
          background-color: map-get($color-defs, background-color-disabled);
        }
        @if map-has-key($color-defs, border-color-disabled) {
          border-color: map-get($color-defs, border-color-disabled);
        }
      }

      &[readonly] {
        @if map-has-key($color-defs, inset-box-shadow-color) {
          box-shadow: none;

          $focus-box-shadow-for-disabled: input-focus-box-shadow(
            map-get(
              $color-defs,
              focus-box-shadow-color
            )
          );
          &:focus {
            box-shadow: $focus-box-shadow-for-disabled;
          }
        }
      }
    }

    @if map-has-key($color-defs, helptext-color) {
      .widget-container__helptext {
        color: map-get($color-defs, helptext-color);
      }
    }

    @if map-has-key($color-defs, errortext-color) {
      .widget-container__errortext {
        color: map-get($color-defs, errortext-color);
      }
    }
  }

}

@mixin button-in-color-zone($color-zone) {

}
