

// #############################################################################
// Headings.

@mixin headings-base {
  display: block;
  line-height: $line-height-headings;

  font-family: $font-sans;
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;

  color: color(text-strong);
}


@mixin heading-aftereffects($heading) {
  @if $heading == (h1) {
    font-size: 2rem;
    margin-top: 2em;
    margin-bottom: 1em;
  }
  @else if $heading == (h2) {
    font-size: 1.6rem;
    margin-top: 1.75em;
    margin-bottom: 0.85em;
  }
  @else if $heading == (h2-underlined) {
    font-size: 1.6rem;
    margin-top: 1.75em;
    padding-bottom: 0.25em;
    margin-bottom: 0.85em;

    border-bottom: 1px solid color(border);
  }
  @else if $heading == (h3) {
    font-size: 1.45rem;
    margin-top: 1.75em;
    margin-bottom: 0.85em;
  }
  @else if $heading == (h4) {
    font-size: 1.3rem;
    margin-top: 1.5em;
    margin-bottom: 0.65em;
  }
  @else if $heading == (h5) {
    font-size: 1.15rem;
    margin-top: 1.5em;
    margin-bottom: 0.65em;
  }
  @else if $heading == (h6) {
    font-size: 1.05rem;
    margin-top: 1.5em;
    margin-bottom: 0.6em;
  }
}


// #############################################################################
// Misc helpers.

// See https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
@mixin font-smoothing($switch) {
  @if $switch == (off) {
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: unset;
  }
  @else if $switch == (on) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
