
// #############################################################################
// Regular text-blocks in the page content.

.textblock-highlight,
.textblock-note {
  @include common-text-block-structure();

  background: color(blockfill);
  color: color(text);
}

.textblock-note {
  @include common-text-block-structure-with-icon();

  & > .svg-icon {
    fill: color(accent-2);
  }
}


// #############################################################################
// Textblocks as system notifications.

.notification {
  @include common-text-block-structure();
  @include common-text-block-structure-with-icon();

  margin: 0;

  & + .notification {
    margin-top: 0.75em;
  }

  strong,
  a {
    color: inherit;
  }

  & > .svg-icon {
    fill: currentColor;
  }
}

.notification--info {
  color: color(info);
  background-color: color(info-light);
}

.notification--success {
  color: color(success);
  background-color: color(success-light);
}

.notification--warning {
  color: color(warning);
  background-color: color(warning-light);
}

.notification--alert {
  color: color(alert);
  background-color: color(alert-light);
}
