/**
 * @file
 * Styleguide-related styles.
 */

// ############################################################################
// Styles for component-demo items' template.

.app-infra__cd-item__content {
  .cd-item-content-extra-room & {
    // @include vertical-gap(margin, both);
  }
}

.app-infra__cd-item__description {
  .element__content {
    @include description-appearance();
  }
}

.app-infra__cd-item {
  .element__label {
    display: block;
    margin: 1rem 0;
    font-style: italic;
    font-weight: 700;
  }
}

.app-infra__cd-item__code {
  pre {
    background: color(blockfill);
    padding: 1rem;

    code {
      background: none;
      border: none;
      padding: 0;
    }
  }
}


// #############################################################################
// Grid-demos.

.app-infra__grid-demos {
  @include fit-content;

  .variant-title {
    @include vertical-gap(margin, top, 1.15);
  }
  .box {
    background: color(blockfill);
  }
  // Specificity hack.
  .box__content.box__content {
    margin-top: 0;
    margin-bottom: 0;

    line-height: $line-height-condensed;
    font-size: 1em;
  }
  code {
    background: none;
    border: none;
    color: color(text-faded);
    padding: 0;
  }

  &.l-2sb-demo {
    .column--sb--1 .box {
      background: color(column-demo-pink);
    }
    .column--sb--2 .box {
      background: color(column-demo-green);
    }
  }
}

