/**
 * @file
 * Box component styles.
 */

.box {
  padding: $gap-default;

  &:not(.color-zone) {
    background: color(blockfill);
  }
}

.box__title {
  @include headings-base();
  @include heading-aftereffects(h4);

  margin-top: 0;

  .box--major & {
    @media (min-width: breakpoint(wide-min)) {
      @include heading-aftereffects(h3);

      margin-top: 0;
    }
  }

  margin-bottom: $gap-default;
}

.box__content {
  @include fit-content;
}


// #############################################################################
// Box behaviors.

.box {
  &.fill-flex {
    flex: 1 1 auto;
  }
}
