/**
 * @file
 * Box component styles.
 */

.box {
  padding: $gap-default;

  &:not(.has-bg) {
    background: color(blockfill);
  }
}

.box__title {
  @include box-title-appearance;

  margin-bottom: $gap-default;
}

.box__content {
  @include fit-content;
}

// #############################################################################
// Box behaviors.

.box {
  &.fill-flex {
    flex: 1 1 auto;
  }
}
