
.ul--icon-prefix {
  @include bare-list;
}

.ul--icon-prefix__li {
  padding-left: 1.6em;

  line-height: $line-height-condensed;

  li + & {
    margin-top: 0.75em;
  }
}

.ul--icon-prefix__li__icon {
  display: inline-block;
  height: 1em;
  width: 1em;

  margin-left: -1.6em;
  margin-right: 0.6em;

  vertical-align: middle;
  fill: color(brand);
}
