
.styles-demo-grid-palette {

  // `ee` = Expose Edges.
  &.ee {
    background: darkslategray;
  }

  hr {
    @each $breakpoint, $gutter in $grid-column-gutters {
      @media(min-width: breakpoint($breakpoint)) {
        margin-top: $gutter;
        margin-bottom: $gutter;
      }
    }
  }
}
