

// #############################################################################
// Meta-page for checking systems' wiring — custom rules.

.meta-check-systems-wiring--css-bg-image {
  padding-bottom: 66.7%;

  background: url('#{$path-from-gulp-to-static-assets-images}/for-demo/photo-1-700.jpg') scroll no-repeat center center;
  background-size: cover;
}


// #############################################################################
// Grid-demo custom rules.

.styles-demo-grid-palette {

  // `ee` = Expose Edges.
  &.ee {
    background: darkslategray;
  }

  .flex-grid + .flex-grid {
    @include vari-gap(margin, vertical, $stack-gap-factor);
  }

  .box {
    @include fit-content();
  }
  img {
    vertical-align: bottom;
  }

  .column-offset-poc {
    .flex-grid__item {
      @include apply-grid-item-width(4, 12);
    }
    .offset-1-of-12-cols {
      margin-left: grid-item-width(1, 12);
    }
    .offset-2-of-12-cols {
      margin-left: grid-item-width(2, 12);
    }
    .offset-3-of-12-cols {
      margin-left: grid-item-width(3, 12);
    }
  }
}
