/**
 * @file
 * Basic, single element level styling.
 *
 * A lot of the typography gets set up here.
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: $font-sans;
  font-size: 100% * ($font-size-default / 16px);
  line-height: $line-height-default;

  background: color(bg-bright);
  color: color(text);

  -webkit-tap-highlight-color: rgba(color(prim), 0.25);
}

@media(min-width: breakpoint(wide-ht-min)) {
  body {
     font-size: 100% * ($font-size-bigscreen / 16px);
  }
}

@media (max-resolution: 1.4dppx) {
  // For when one has a non-retina display attached to a Mac.
  body {
    @include font-smoothing(on);
  }
}


// #############################################################################
// Headings.

h1,
h2,
h3,
h4,
h5,
h6,
.pseudo-heading {
  @include headings-base;
}

@for $i from 1 through 6 {
  h#{$i},
  .h#{$i} {
    @include heading-aftereffects(h#{$i});
  }
}

h2.underlined,
.h2.underlined {
  @include heading-aftereffects(h2-underlined);
}


// #############################################################################
// Links.

a {
  text-decoration: none;
  border-bottom: 1px solid currentColor;

  &,
  &:active {
    color: color(link);
  }
  &:focus {
    outline: 1px dotted currentColor;
    outline-offset: 1px;
  }
  &:visited {
    color: color(link-visited);
  }
  &:hover {
    color: color(link-hover);
  }
  &:visited:hover {
    color: color(link-visited-hover);
  }
}


// #############################################################################
// Regular text.

p {
  margin: 1em 0;
}

strong {
  color: color(text-strong);
}


// #############################################################################
// Lists.

ul {
  padding-left: 1em;
}

ol {
  padding-left: 1.35em;
}

dl {

}
dt {
  color: color(text-strong);
  font-weight: 700;

  dd + & {
    margin-top: 0.3em;
  }
}
dd {
  margin-left: 1em;
}

.bare-list {
  @include bare-list();
}


// #############################################################################
// Tables.

table {

}
tr {

}
th {

}
td {

}


// #############################################################################
// Misc.

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  @include fit-content();

  margin: 2em 0 2em 2em;
  padding: 1.5em 0 1.5em 1.5em;

  border-left: 2px solid color(border);
}

pre,
code,
kbd,
samp {
  font-family: $font-mono;

  background: color(blockfill);
}

pre {
  padding: 1em;
}

code {
  // Don't wrap, not even at hyphens.
  hyphens: none;
  white-space: nowrap;
}

pre {
  code {
    display: block;
    max-width: 100%;
    overflow: auto;

    hyphens: initial;
    word-wrap: normal;
    white-space: pre;

    font-size: 0.9em;
  }
}

hr {
  @include gap(margin, vertical, 0.5);

  height: 0;
  background: 0;
  border: 0;
  border-top: 1px solid color(border);
}

// This is experimental.
::selection {
  background: rgba(color(prim), 1);
  color: color(text-invert);
}
::-moz-selection {
  background: rgba(color(prim), 1);
  color: color(text-invert);
}
