/**
 * @file
 * Flex grid.
 *
 * @see
 * scss/mixins/_mixins-flex-grid.scss
 */

.flex-grid--permanent {
  @include flex-grid($wrap: false);
}

// -----------------------------------------------------------------------------
// Option to "steer" grid items with classes on them.

.flex-grid--permanent {
  .flex-grid__item {
    &.full {
      @include apply-grid-item-width(1, 1);
    }
    &.three-quarters {
      @include apply-grid-item-width(3, 4);
    }
    &.two-thirds {
      @include apply-grid-item-width(2, 3);
    }
    &.half {
      @include apply-grid-item-width(1, 2);
    }
    &.third {
      @include apply-grid-item-width(1, 3);
    }
    &.quarter {
      @include apply-grid-item-width(1, 4);
    }
  }
}

// -----------------------------------------------------------------------------
// In case grids get nested.

.flex-grid__item {
  & > .flex-grid {
    flex: 1 1 auto;
  }
}

// -----------------------------------------------------------------------------
// Collapsing grids.

.flex-grid.grid-collapsing {
  margin-left: 0;
  margin-right: 0;

  & > .flex-grid__item {
    padding-left: 0;
    padding-right: 0;
  }
}

// -----------------------------------------------------------------------------
// Vertical gap between adjacent grid instances.

.flex-grid + .flex-grid {
  @include vari-gap(margin, top, $stack-gap-factor-grid-match);
}
