/**
 * @file
 * Forms.
 */


// #############################################################################
// Labels.

label {
  user-select: none;
}


// #############################################################################
// Widgets and buttons.

// -----------------------------------------------------------------------------
// Basic widgets foundation.

.input--oneliner,
textarea
{
  padding-left: $form-widget-side-padding;
  padding-right: $form-widget-side-padding;

  display: block;
  width: 100%;
  max-width: $form-input-max-width;

  background: white;
  border: 1px solid $form-widget-color;
  border-radius: $form-widget-border-radius;
  box-shadow: 0 0 0.5em rgba(color(shadow), 0.25) inset;
  color: color(text);

  font-family: $font-sans;
  font-weight: 400;
  font-style: normal;

  transition: border-color $transition-speed-fast $transition-easing-default;

  &:focus {
    border-color: $form-widget-color-interaction;

    outline: none;
  }
}

.input--oneliner {
  // Note: inputs don't need any line-height declaration.
  height: $form-widget-oneliner-height;

  padding-top: 0;
  padding-bottom: 0;

  white-space: nowrap;
}

textarea {
  line-height: $line-height-condensed;

  min-height: $form-widget-oneliner-height * 2.15;

  padding-top: calc((#{$form-widget-oneliner-height} - (#{$line-height-condensed} * 1em)) / 2);
  padding-bottom: calc((#{$form-widget-oneliner-height} - (#{$line-height-condensed} * 1em)) / 2);
}

// -----------------------------------------------------------------------------
// Buttons foundation.

$btn-shdw-size: $form-widget-oneliner-height;

.button {
  @include strip-button();

  display: inline-block;
  padding-left: $form-widget-side-padding;
  padding-right: $form-widget-side-padding;

  box-shadow: 0 $btn-shdw-size $btn-shdw-size $btn-shdw-size * -1 rgba(white, 0.3) inset,
              0 $btn-shdw-size * -1 $btn-shdw-size $btn-shdw-size * -1 rgba(black, 0.3) inset,
              0 0 2px 1px white,
              0 3px 10px -3px black;
  border: 1px solid transparent;
  border-radius: $form-widget-border-radius;
  cursor: pointer;

  font-family: $font-sans;
  font-weight: 700;
  text-align: center;

  transition: background-color $transition-speed-fast, $transition-easing-default,
              box-shadow $transition-speed-fast, $transition-easing-default;
  user-select: none;
}

.button:not(:disabled):hover,
.button:focus {
  outline: none;
  box-shadow: 0 $btn-shdw-size $btn-shdw-size $btn-shdw-size * -1 rgba(white, 0.3) inset,
              0 $btn-shdw-size * -1 $btn-shdw-size $btn-shdw-size * -1 rgba(black, 0.3) inset,
              0 0 2px 1px white,
              0 2px 10px 0 mix(color(prim), black, 50%);
}

// "Button oneliner" is a button that's matching "oneliner inputs".
.button--oneliner {
  height: $form-widget-oneliner-height;

  // Note: buttons do need the line-height-hack.
  // (Also need to distract the border-width for better vertical alignment.
  line-height: calc(#{$form-widget-oneliner-height} - 2px);

  padding-top: 0;
  padding-bottom: 0;

  white-space: nowrap;

  .button__text {
    display: inline-block;
    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// -----------------------------------------------------------------------------
// Button color variants.

@each $name, $data in $button-colors {
  .button--#{$name} {
    background-color:     map-get($data, background-color);
    text-shadow:          0 1px 3px map-get($data, text-shadow-color);

    &,
    &:hover,
    &:visited,
    &:visited:hover
    {
      color:              map-get($data, color);
    }

    &:hover,
    &:focus {
      background-color:   map-get($data, background-color-hover);
      color:              map-get($data, color);
    }

    &:disabled,
    &:disabled:hover {
      background-color:   map-get($data, background-color-disabled);
      color:              map-get($data, color-disabled);
      text-shadow: none;
      cursor: auto;
    }
  }
}


// #############################################################################
// Non-default states.

// -----------------------------------------------------------------------------
// Disabled.

.input--oneliner:disabled,
textarea:disabled
{
  background: whitesmoke;
  border-color: lighten($form-widget-color, 15%);
  box-shadow: rgba(color(shadow), 0.1) 0 0 0.5em inset;
}

// -----------------------------------------------------------------------------
// Readonly.

.input--oneliner[readonly],
textarea[readonly]
{
  box-shadow: none;
}

// -----------------------------------------------------------------------------
// Error.

.input--oneliner.has-error,
textarea.has-error
{

  border-color: $form-widget-color-error;
  box-shadow: 0 0 0.5em rgba(color(shadow), 0.25) inset,
              0 0 0.4em color(alert);

  &:focus {
    box-shadow: 0 0 0.5em rgba(color(shadow), 0.25) inset,
                0 0 0.4em 3px mix(color(alert), white, 50%);
    outline: none;
  }
}
