/**
 * @file
 * Page definition default.
 *
 * Typically rules for the header and footer, and other globally applying
 * page properties.
 */


// #############################################################################
// Essentials.

.page__header,
.page__footer {
  @include vertical-gap(padding, both, 0.5);

  .page__level__content {
    margin-top: 0;
    margin-bottom: 0;
  }

  // TODO: SORTING THESE THINGS OUT!
  //@include text-color-invert-zone;
  //a {
    //@include override-link-color($color: color(link-invert));
  //}

  .header__site-name {
    @include line-height-fit($line-height-default, top);
  }
  .header__site-slogan {
    @include vertical-gap(margin, top, 0.15);
    @include line-height-fit($line-height-default, bottom);
  }
}

.page__header {
  @include color-zone-brand;
}

.page__footer {
  @include color-zone-black;
}

.header__site-name {
  font-weight: 700;
}

// Specificity hack.
.page__title.page__title {
  @include page-title-appearance;
  @include line-height-fit($line-height-headings, top, 1);
}


// #############################################################################
// Sticky footer.

$footer-height: 150px;

html,
body {
  height: 100%;
}
.page__wrap {
  min-height: 100%;
  margin-bottom: -$footer-height;
}
.footer__room-preserve,
.page__footer {
  height: $footer-height;
}

