
// #############################################################################
// Page levels and page centering.
// (Horizontal sections - often seen as full-width colourful stripes - on the
// page.)

.page__level {
  @include gap(padding, horizontal, 1);

  min-width: $page-min-width;

  &.has-bg {
    @include gap(padding, vertical, 3);
  }
}

.page__level__content {
  @include fit-content();
  @include gap(margin, vertical, 3);

  max-width: $page-max-width;

  margin-left: auto;
  margin-right: auto;

  .has-bg & {
    margin-top: 0;
    margin-bottom: 0;
  }
}

