

// #############################################################################
// Page header (and footer).

.page__header,
.page__footer {
  @include gap(padding, all, 1);
  @include fit-content();
}

.page-header__site-name {
  font-weight: 700;
  font-size: 1.15em;
  letter-spacing: 0.075em;
}

.page-header__site-tagline {
  margin-left: 0.75em;
  font-size: 0.9em;

  font-style: italic;
}


// #############################################################################
// Page main.

.page__title {
  @include page-title-appearance();
}

.system-notifications {
   @include squeeze();
}


// #############################################################################
// Page footer.

// -----------------------------------------------------------------------------
// Sticky footer.

// Hardcoding values here shamelessly borrowed from several contexts.
$footer-height: (1.125rem * $line-height-default) + 3rem;

html,
body {
  height: 100%;
}
.page__wrap {
  min-height: 100%;
  margin-bottom: $footer-height * -1;
}
.footer__room-preserve,
.page__footer {
  height: $footer-height;
}


// #############################################################################
// Misc.

#svg-sprite-housing {
  position: absolute;
  left: -10000em;
}
