/**
 * @file
 * SASS variables.
 */


// #############################################################################
// Typography.

$font-size-default:             16px;
$font-size-bigscreen:           18px;
$line-height-default:           1.6;
$line-height-condensed:         1.3;
$line-height-headings:          1.3;

$font-sans:                     "Roboto",
                                "Helvetica Neue",
                                "Segoe UI",
                                "Calibri Light",
                                "Liberation Sans",
                                "sans-serif";
$font-serif:                    "Times New Roman",
                                "Liberation Serif",
                                "serif";
$font-mono:                     "monospace", "Courier New", "menlo", "monaco";


// #############################################################################
// Layouts 1.

$page-min-width:                 300px;
$content-area-max-width:        1200px;


// #############################################################################
// Media query breakpoints.

/**
|
| LEGEND for the breakpoint variables:
|
| <- $page-min-width                                $content-area-max-width -> |
|                                                                              |
|             <- narrow ->              |              <- wide ->              |
|                                       |                                      |
|   narrow   |   narrow   |   narrow    |    wide    |    wide    |    wide    |
|  lowthird  |  midthird  |  highthird  |  lowthird  |  midthird  |  highthird |
| (narrow-lt)| (narrow-mt)| (narrow-ht) |  (wide-lt) |  (wide-mt) |  (wide-ht) |
*/

$breakpoints: (

  initial:                      0,
  narrow-lt-max:              419px,

  narrow-mt-min:              420px,
  narrow-mt-max:              559px,

  narrow-ht-min:              560px,
  narrow-max:                 759px,

  wide-min:                   760px,
  wide-lt-max:                919px,

  wide-mt-min:                920px,
  wide-mt-max:               1099px,

  wide-ht-min:               1100px,
  wide-max:                  $content-area-max-width
);

@function breakpoint($key) {
  @return map-get($breakpoints, $key);
}


// #############################################################################
// Grid-settings.

$grid-default-column-count:     24;
$grid-column-gutters: (
  initial:                      0.75rem,
  wide-min:                     1.5rem,
);


// #############################################################################
// Layouts 2.

$stack-gap-factor-grid-match:   1;
$stack-gap-factor-minor:        1.5;
$stack-gap-factor:              2;
$stack-gap-factor-major:        3;


// #############################################################################
// Colors.

/**
 * See:
 * http://html-color-codes.info/color-names/
 * https://color.adobe.com/create/color-wheel/
 * http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
 * http://webdesign.tutsplus.com/tutorials/all-you-ever-need-to-know-about-sass-interpolation--cms-21375
 * http://sass-lang.com/documentation/Sass/Script/Functions.html#mix-instance_method
 */

// NOTE:
// Prep-colors are just a helper stage to set up the base colors in the final
// color-map below.

$color-brand:                   desaturate(lighten(navy, 25%), 70%);

$prep-color-prim:               desaturate(lighten(navy, 25%), 70%);
$prep-color-accent-1:           desaturate(magenta, 60%);
$prep-color-accent-2:           desaturate(darken(cyan, 10%), 35%);
$prep-color-blockfill:          #eeeeee;

$prep-color-nav:                $prep-color-prim;
$prep-color-action:             $prep-color-accent-1;

/**
 * READY TO USE COLOR MAP.
 * In the stylesheets, use only this map to refer to colors. It's awesome power.
 * In SASS, only with this one can you have 'variable variable names'.
 *
 * Usage example:
 *
 * @code
 *   .foo {
 *     border-color: color(bar);
 *   }
 * @endcode
 *
 * Find the color() function declaration in ./sass-tools/_functions-color.scss.
*/

$colors: (
  brand:                        $color-brand,
  prim:                         $prep-color-prim,
  accent-1:                     $prep-color-accent-1,
  accent-2:                     $prep-color-accent-2,

  text:                         #484848,
  text-strong:                  #222,
  text-faded:                   #777,

  border:                       #cccccc,
  border-dark:                  #8a8a8a,
  border-light:                 #e6e6e6,

  bg-bright:                    white,
  bg-dark:                      #333,
  blockfill:                    $prep-color-blockfill,

  link:                         mix($prep-color-nav, white, 90%),
  link-visited:                 mix($prep-color-accent-1, white, 90%),
  link-hover:                   mix($prep-color-nav, black, 85%),
  link-visited-hover:           mix($prep-color-accent-1, black, 90%),

  text-invert:                  white,
  link-invert:                  mix($prep-color-accent-2, white, 10%),

  shadow:                       rgba(50, 35, 60, 0.5),
  column-demo-pink:             desaturate(pink, 10%),
  column-demo-green:            desaturate(palegreen, 10%)
);


// #############################################################################
// Asset paths.

// NOTE: asset paths may vary, depending on whether they are handled via Gulp or
// via Webpack.

// The scenarios I can right now imagine happening are:
// - from gulp-generated CSS/JS to static assets,
// - from webpack-generated CSS/JS to webpack-managed dump of assets,
// - from webpack-generated CSS/JS to static assets (don't know how to do that)

// Relative path from the gulp-generated .css files' location to the images.
$path-from-gulp-to-static-assets-images:    '../../../static-assets/images';


// #############################################################################
// CSS effects.

$transition-easing-default:     ease-in-out;

$transition-speed-fast:         125ms;
$transition-speed-semi-fast:    250ms;
$transition-speed-semi-slow:    400ms;
$transition-speed-slow:         700ms;
